@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%; /* This variable should be used in your class */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --accent: 183 65% 35%;
    --accent-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --accent: 183 63% 40%;
    --accent-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
  }

  /* Define the border-border class */
  .border-border {
    border-color: hsl(var(--border)); /* Use the CSS variable */
  }

  * {
    @apply border-border;
  }

  body {
    @apply min-h-screen bg-background text-foreground;
  }
}

body::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

body::-webkit-scrollbar-track {
  background: rgb(0, 174, 255);
  display: none;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff2;
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

@keyframes scaleDownIn {
  from {
    opacity: 0;
    transform: scale(4) translateY(0px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}

.heroElem {
  animation: scaleDownIn 1.5s cubic-bezier(0.87, 0, 0.13, 1);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.heroElem .sqD:not(.squiggle-hero-pop1) {
  animation: float 2s infinite ease-in-out;
}
.heroTitle .sqD {
  @apply scale-[0.8] lg:scale-100;
}

/* All svg squiggle decorations */
.sqD {
  @apply absolute z-[-10];
}
